<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>CyberGames</title>
  <script src="https://unpkg.com/react@latest/umd/react.development.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/react-dom@latest/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@material-ui/core@latest/umd/material-ui.development.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/babel-standalone@latest/babel.min.js" crossorigin="anonymous"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>

  <!-- "https://icons8.com/icons/set/controller">Game Controller favicon icon -->
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <script type="text/javascript" src="/assets/flappy/phaser.min.js"></script>
  <script type="text/javascript" src="/assets/flappy/flappyMain.js"></script>

</head>

<body>
  <!-- "https://icons8.com/icons/set/controller">Game Controller Nav bar icon -->
  <nav><a href="/choose"><img id="logo" src="/assets/img/controller.png" alt="controller logo" /></a>
    <div class="navlink"><a href="/choose"> &lsaquo; Back</a></div>
    <div class="navlink"><a href="/changePass">Change Password</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <div id="flappy-game"></div>
  <section id="makeScore">
  </section>

  <div id="heading">
    <h1>Your Flappy Box Leaderboard</h1>
  </div>

  <section id="yourScores">
  </section>

  <div id="heading">
    <h1>Global Flappy Box Leaderboard</h1>
  </div>

  <section id="allGameScores">
  </section>

  <div id="monsterMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3><img id="monster" src="assets/img/monster.png" alt="monster" />
  </div>
  <script src="/assets/bundle.js"></script>

</body>

</html>